@media only screen and (min-width: 1200px) {
  /* Your styles for extra large screens go here */
}

@media only screen and (max-width: 1199.98px) {
  #header {
    .search-wrapper {
      width: 290px;
      margin-left: 0px;
    }
    .offcanvas {
      button[type="submit"] {
        margin-left: 16px;
        margin-right: 16px;
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  #footer {
    #follow-us{
      svg {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
    }
  }
  #header {
    .navbar-nav {
      margin-left: 0px;
      margin-bottom: 8px;
      .nav-item {
        padding-left: 0px;
      }
    }
    .offcanvas {
      button[type="submit"] {
        margin-top: 16px;
        margin-left: 0px;
        margin-right: 0;
      }
    }
    .navbar-brand {
      svg {
        margin-left: 16px;
      }
    }
  }
  .slider {
    img {
      height: auto;
    }
  }
  #login {
    width: unset;
  }
}

@media only screen and  (max-width: 767.98px) {
  #footer {
    text-align: center;
    .row > div {
      margin-bottom: 16px;
    }
  }
}

@media only screen and (max-width: 575.98px) {
  #footer {
    text-align: center;
    .row > div {
      margin-bottom: 16px;
    }
  }
  .organizer {
    margin-left: 0px;
  }
  #login {
    border-radius: unset;
    margin-top: 0px !important;
  }
}